/CMS/.vs
/CMS/.vs/
/CMS/CMS.API/bin
/CMS/CMS.API/obj
/CMS/CMS.Data.Models/bin
/CMS/CMS.Data.Models/obj
/CMS/CMS.Data.Access/obj/
/CMS/CMS.Data.Access/bin/
/CMS/CMS.Data.DataModels/bin
/CMS/CMS.Data.DataModels/obj
/CMS/CMS.Database/bin
/CMS/CMS.Database/obj
/CMS/CRM.API.UnitTests/bin
/CMS/CRM.API.UnitTests/obj
/CMS/UnitTests/CRM.API.UnitTests/bin
/CMS/UnitTests/CRM.API.UnitTests/obj
/CMS/CMS.Data.Access.UnitTests/bin
/CMS/CMS.Data.Access.UnitTests/obj
/CMS/CMS.Data.Models.UnitTests/bin
/CMS/CMS.Data.Models.UnitTests/obj
/CMS/CMS.Data.Services.UnitTests/bin
/CMS/CMS.Data.Services.UnitTests/obj
/CMS/CMS.Services/bin
/CMS/CMS.Services/obj
/CMS/CMS.Data.Database/bin
/CMS/CMS.Data.Database/obj
/CMS/CRM.Data.Access/bin
/CMS/CRM.Data.Access/obj
/CMS/CMS.Services.UnitTests/bin
/CMS/CMS.Services.UnitTests/obj
/CMS/CMS.Data.Access/bin
/CMS/CMS.Data.Access/obj
/CMS/CMS.Services.UnitTests/bin
/CMS/CMS.Services.UnitTests/obj
/CMS/CMS.Data.Database/CMS.Data.Database.jfm
/CMS/CMS.Data.Database/CMS.Data.Database.dbmdl
/CMS/CMS.API.UnitTests/bin/Debug/net6.0
/CMS/CMS.Data.Models/.vs/CMS.Data.Models
